mixin video
    video.video-js.vjs-big-play-centered(id=`${name}` crossorigin='anonymous' style='-webkit-filter: blur(10px); background: black;' controls='' preload='auto' data-setup='{}')
    div(id=`showVideo_${name}_containerA`)
        .showVideoContainerA
        paper-button.videoMainButton(id=`video_${name}_mainButton` onclick=`showVideoA('${name}', '${source}', '${title}', '${URLID}');`)
            i.material-icons play_arrow
            |  Loading...
        .resolutionsBtnConatiner.row(id=`${name}_resolutionsBtnConatiner` style='display: none;')
        img.showVideoContainerAIcon(src=`${camcorderIcon}`)
    div(id=`showVideo_${name}_containerB` style='display: none;')
        p.videoNudesFoundText Nudes found
        button.showVideoBtnB(onclick=`showVideoB('${name}');`) Continue
div(id=`${name}_container` style='position: relative; overflow: hidden;')
    if noShadow  
        div(style='position: absolute;')
            +video
    else
        paper-material(elevation='2' style='position: absolute;')  
            +video