mixin prefixAndSuffix
    if prefix
        each val in prefix
            div(slot='prefix')= val
    if suffix
        each val in suffix
            div(slot='suffix')= val
if isMultiline
    paper-textarea(id=name label=title type=type auto-validate=auto_validate allowed-pattern=allowed_pattern maxlength=max minlength=min disabled=isDisabled char-counter=isCounted)
        +prefixAndSuffix
else
    paper-input(id=name label=title type=type auto-validate=auto_validate allowed-pattern=allowed_pattern maxlength=max minlength=min disabled=isDisabled char-counter=isCounted)
        +prefixAndSuffix